[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
symbolic-links=0
default_authentication_plugin=mysql_native_password

bind-address            = 0.0.0.0
server-id               = 1
log_bin                 = /var/run/mysqld/mysql-bin.log
binlog_do_db            = app

gtid_mode                = on
enforce_gtid_consistency = on
log_slave_updates        = on
